<!DOCTYPE html>
<html>

<head>
    <title>The Movies Stop</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body ng-app="themoviesStop">
    <ui-view></ui-view>
</body>

</html>