<div class="bgDisplay"></div>
<div class="MovieInfoWraper">
    <div class="resultList flex">
        <div class="main-section">
            <div class="section-overview">
                <div class="section-wrapper">
                    <div class="poster-wrapper">
                        <div class="poster">
                            <a href="#">
                                <img class="posterImageSettings" src="https://image.tmdb.org/t/p/w300/{{movies.poster_path}}" title={{movies.original_title}}/>
                            </a>
                        </div>
                        <div class="watchSection">
                            <iframe class="videoLoader" ng-src="{{getIframeSrc(movies.videos.results[0].key)}}"></iframe>
                        </div>
                    </div>
                    <div class="section_desc">
                        <div class="section-headerWrapper">
                            <div class="titleBar">
                                <div class="section-titleWrapper">
                                    <h2>{{movies.original_title}} &nbsp;
                                        <span class="titleYear">({{getReleaseYear(movies.release_date)}})</span>
                                    </h2>
                                    <div class="section-info">
                                        <time>{{getTime(movies.runtime)}}</time>
                                        <span> | </span>
                                        <a ng-repeat="genere in movies.genres" href="#/movies/genre/{{genere.id}}" id="{{genere.id}}">
                                            {{genere.name}} &nbsp;
                                        </a>
                                        <span> | </span>
                                        <span>{{getReleaseDate(movies.release_date)}}</span>
                                        <span> | </span>
                                        <span>{{getCertificate(movies.releases.countries)}}</span>
                                    </div>
                                </div>
                                <div class="ratings_Wrapper">
                                    <div class="userRatings">
                                        <div class="ratingValue">
                                            <strong class="avgVote">Rating: {{movies.vote_average}}</strong>
                                        </div>
                                        <div class="countVote"><strong>Count: {{movies.vote_count}}<strong></div>
                                    </div>
                                    <div ng-show="isLoggedIn()" class="rating-widget">
                                        <div class="rating-button">
                                            <button><span class="glyphicons glyphicons-star x1">
                                            </span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="summaryWrapper">
                        <div class="summary_info">
                            <h3 class="featured_info">Overview</h3>
                            <div class="summary" ng-bind-html="movies.overview | htmlize">
                            </div>
                            <h3 class="featured_info">Featured Crew</h3>
                            <ol class="featured_people">
                                <li class="people_info" ng-repeat="crew in movies.credits.crew | limitTo:6">
                                    <p>{{crew.name}}</p>
                                    <p class="profile_job">{{crew.job}}</p>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="ms-row optionsNav">
                    <div class="menuNavSection">
                        <span class="CastsNav active" ng-click ="handleOptionsClick($event)">Cast</span>
                        <span class="ReviewsNav" ng-click ="handleOptionsClick($event)">Reviews</span>
                        <span class="VideosNav" ng-click ="handleOptionsClick($event)">Videos</span>
                        <span ng-show="{{movies.recommendations.results.length}}!=0" class="RecommendedNav" ng-click ="handleOptionsClick($event)">Recommended</span>
                        <span class="DetailsNav" ng-click ="handleOptionsClick($event)">Details</span>
                        <span ng-show="{{movies.budget}}!=0"  class="BoxOfficeNav" ng-click ="handleOptionsClick($event)">Box Office</span>
                        <span class="CreditsNav" ng-click ="handleOptionsClick($event)">Prodution Credits</span>
                    </div>
                </div>
                <section class="panel CastLists">
                        <h3 class="featured_info">Top Casts</h3>
                        <ol class="featured_people">
                            <li class="list profileView setFullHeight" ng-repeat="cast in movies.credits.cast | limitTo:4">
                                <a href="#"><img class="imageSettings" src="https://image.tmdb.org/t/p/w300/{{cast.profile_path}}"></img></a>
                                <div class="castInfoWrapper">
                                    <p>{{cast.name}}</p>
                                    <p class="profile_job">{{cast.character}}</p>
                                </div>
                            </li>
                        </ol>
                        <p class="full_view_button">
                            <a href="{{getFullCastLocation()}}">View Full Cast</a>
                        </p>
                </section>
                <section class="panel ReviewsSection">
                        <h3 class="featured_info">Reviews</h3>
                        <div class="cardView">
                            <div class="ReviewWrapper">
                                <p>{{movies.reviews.results[0].content}}</p>
                            </div>
                            <div class="creditsTag">
                                <p>- {{movies.reviews.results[0].author}}</p>
                            </div>
                        </div>
                        <p class="full_view_button">
                                <a href="{{getAllReviewLocation()}}">View All Reviews</a>
                        </p>
                </section>
                <section class="panel VideosSection">
                        <h3 class="featured_info">Videos</h3>
                        <div class="section-content">
                                <div class="section-inner-content">
                                    <div class="watchSection" ng-repeat="video in movies.videos.results">
                                        <iframe class="videoLoader" ng-src="{{getIframeSrc(video.key)}}"></iframe>
                                    </div>
                                </div>
                        </div>
                </section>
                <section  ng-show="{{movies.recommendations.results.length}}!=0" class="panel RecommendedSection">
                        <h3 class="featured_info">Recommendations</h3>
                    <div class="scollable">
                                <div class="list miniPhoto" ng-repeat="movie in movies.recommendations.results | limitTo:7" title ={{movie.title}}>
                                    <div class="imageWrapper">
                                            <a target ="_blank" id="movie_{{movie.id}}" href="/#/movies/desc/{{movie.id}}" alt={{movie.title}}>
                                                <img class="imageSettings" src="https://image.tmdb.org/t/p/w300/{{movie.poster_path}}">
                                            </a>
                                    </div>
                                    <a class="infoWrapper" href="/#/movies/desc/{{movie.id}}">
                                            <div class="infoInnerWrapper">
                                                <div class="recoNameWrapper">{{movie.original_title}}</div>
                                                <span class="reco_vote_avg">
                                                        {{movie.vote_average}} <i class="fa fa-star" aria-hidden="true"></i>
                                                </span>
                                                <div class="recoReleaseInfo">
                                                        <i class="fa fa-calendar" aria-hidden="true"></i> {{getReleaseDate(movie.release_date)}}
                                                </div>
                                            </div>
                                    </a>
                                </div>
                        </div>
                </section>
                <section class="panel DetailsSection">
                        <h3 class="featured_info" >Details</h3>
                        <div class="cardView">
                            <div class="detailsInfoWrapper">
                                <span ng-show=movies.homepage!=''><strong>Official Site:</strong>
                                            </span>
                                            <a target="_blank" href="{{movies.homepage}}">{{movies.homepage}}</a>
                                        </div>
                                        <div class="detailsInfoWrapper">
                                            <span><strong>Country: </strong></span>
                                            <span>United States</span>
                                        </div>
                                        <div class="detailsInfoWrapper">
                                            <span><strong>Languages: </strong></span>
                                            <span class="movieLang" ng-repeat="lang in movies.spoken_languages ">{{lang.name}}</span>

                                        </div>
                                        <div class="detailsInfoWrapper">
                                            <span><strong>Also Known As: </strong></span>
                                            <span>{{movies.alternative_titles.titles[0].title}}</span>
                                            <a href="#">View All titles</a>
                                        </div>
                                    </div>
                                    </section>
                                    <section ng-show="{{movies.budget}}!=0" class="panel BoxOfficeSection">
                                        <h3 class="featured_info">Box Office</h3>
                                        <div class="cardView">
                                            <div class="detailsInfoWrapper">
                                                <span><strong>Budget: </strong></span>
                                                <span>$ {{numberWithCommas(movies.budget)}}</span>
                                            </div>
                                            <div class="detailsInfoWrapper">
                                                <span><strong>Revenue: </strong></span>
                                                <span>$ {{numberWithCommas(movies.revenue)}}</span>
                                            </div>
                                        </div>
                                    </section>
                                    <section class="panel ProdCreditsSection">
                                        <h3 class="featured_info">Production Credits</h3>
                                        <div class="cardView">
                                            <div class="detailsInfoWrapper">
                                                <span><strong>Production Company</strong></span>
                                                <a href="#" ng-repeat="comp in movies.production_companies | limitTo:3">{{comp.name}}</span>
                                                <a href="#"> View All Companies</a>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                    <style>
                        .bgDisplay::after {
                            background-image:url(https://image.tmdb.org/t/p/w1280/{{movies.backdrop_path}}),
                            url(https://image.tmdb.org/t/p/w1280/{{movies.backdrop_path}});
                            content: "";
                            opacity: 0.5;
                            z-index: -1;
                            top: 0;
                            left: 0;
                            bottom: 0;
                            right: 0;
                            position: absolute;
                            height: 100%;
                            background-repeat: repeat-y;
                            background-position: center center;
                        }
                    </style>