<div class="page-header">
    <h3 class="titleHeader">
        Popular People
    </h3>
    <div class="resultList flex">
        <div ng-repeat="person in people" class="list profileView">
            <div class="profileImageWrapper">
                <a id="person_{{person.id}}" href="#" alt={{person.title}}>
                    <img class="profileimageSettings" src="https://image.tmdb.org/t/p/w300/{{person.profile_path}}">
                </a>
            </div>
            <a class="infoWrapper" href="#">
                <div class="infoInnerWrapper">
                    <div class="nameWrapper">{{person.name}}</div>
                    <div class="knownForDesc" title={{person.knownFor}}>{{person.knownFor}}</div>
                </div>
            </a>
        </div>
    </div>
</div>