<div class="MoviesWrapper">
    <h3 class="titleHeader">
        Showing Now Movies
    </h3>
    <div class="searchResults">
        <div ng-repeat="movie in movies" class="list cardView">
            <div class="cardimageWrapper">
                <a id="movie_{{movie.id}}" href="/#/movies/desc/{{movie.id}}" alt={{movie.title}}>
                    <img class="imageSettings" src="https://image.tmdb.org/t/p/w300/{{movie.poster_path}}">
                </a>
            </div>
            <div class="resultInfo">
                <div class="title">
                    <a id="movie_{{movie.id}}" class="resultTitle" title="{{movie.title}}" href="#"> 
                                        {{movie.title}}
                                </a>
                    <span class="vote_avg">
                                    {{movie.vote_average}} <i class="fa fa-star" aria-hidden="true"></i>
                            </span>
                </div>
                <div>
                    <span class="dateInfo">
                            <i class="fa fa-calendar" aria-hidden="true"></i> &nbsp; {{movie.release_date}}
                            </span>
                    <span class="genersInfo">
        
                            </span>
                </div>
                <div class="block-with-text">
                    {{movie.overview}}
                </div>
                <div class="moreInfoWrapper text-center">
                    <a href="#" class="moreDetails"> More Info</a>
                </div>
            </div>
        </div>
    </div>
</div>