body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: #efefef;
    height: 100%;
}

a {
    color: #00B7FF;
}

.navbar {
    z-index: 9;
    background: #332b2b;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
    color: #f1e7e7;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav>li>a:hover {
    color: #3EC02F;
}

.titleHeader {
    font-family: 'Lato', sans-serif;
}

.MoviesWrapper {
    width: 980px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.MovieInfoWraper,
.ShowInfoWraper {
    width: 900px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    overflow: hidden;
}

.searchResults {
    margin-top: 20px;
    position: relative;
}

.searchResults::after {
    content: '';
    display: block;
    clear: both;
}

.cardView {
    webkit-box-shadow: 0 2px 0 0 rgba(230, 230, 230, 0.5);
    -moz-box-shadow: 0 2px 0 0 rgba(230, 230, 230, 0.5);
    box-shadow: 0 2px 0 0 rgba(230, 230, 230, 0.5);
    -webkit-transition: box-shadow 0.5s ease;
    -moz-transition: box-shadow 0.5s ease;
    -o-transition: box-shadow 0.5s ease;
    transition: box-shadow 0.5s ease;
    background-color: #fff;
    border: 1px solid #e6e7e9;
    position: relative;
}

.profileView {
    webkit-box-shadow: 0 2px 2px 0 rgba(191, 153, 153, 1);
    -moz-box-shadow: 0 2px 2px 0 rgba(191, 153, 153, 0.5);
    box-shadow: 0 2px 2px 0 rgba(191, 153, 153, 1);
    -webkit-transition: box-shadow 0.5s ease;
    -moz-transition: box-shadow 0.5s ease;
    -o-transition: box-shadow 0.5s ease;
    transition: box-shadow 0.5s ease;
    background-color: #fff;
    border: 1px solid #e6e7e9;
    position: relative;
}

div.list {
    float: left;
    color: #000;
}

div.list.cardView {
    width: 48%;
    background-color: #fff;
    box-sizing: border-box;
    margin-bottom: 34px;
    display: flex;
    align-items: center;
}

div.list.profileView {
    width: 20%;
    height: 300px;
    background-color: #fff;
    box-sizing: border-box;
    margin: 0 25px 20px 0;
    display: flex;
    align-items: center;
    float: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

div.resultList.flex {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

div.resultList {
    margin-top: 20px;
    width: 100%;
}

div.list.profileView:nth-child(odd) {
    clear: left;
}

div.list.cardView:nth-child(odd) {
    clear: left;
    margin-right: 2.5%
}

.cardimageWrapper {
    width: 40%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 300px;
    /* height: 100%; */
    line-height: 0;
    overflow: hidden;
    position: absolute;
}

.people {
    width: 40%;
    height: 200px;
    line-height: 0;
    overflow: hidden;
    position: absolute;
}

.imageSettings {
    width: 100%;
    height: 100%;
    opacity: 1;
    top: 0;
    position: absolute;
    transition: opacity 200ms;
    line-height: 0;
}

.posterImageSettings {
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 200ms;
    line-height: 0;
}

.infoWrapper {
    margin-top: 5%;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 20%;
    overflow: hidden;
    color: #524747;
    opacity: 0.9;
}

.infoWrapper:hover {
    text-decoration: none;
}

.infoInnerWrapper {
    top: 0;
    position: absolute;
    text-overflow: ellipsis;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: #fbfafa;
}

.knownForDesc {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
    overflow: hidden;
    height: 100%;
    margin: 1%;
}

.nameWrapper {
    margin: 1%;
}

.resultInfo {
    width: 60%;
    margin-left: 40%;
    height: 300px;
    /* height: 100%; */
    position: relative;
    box-sizing: border-box;
    padding: 10px 16px 16px 16px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0;
    margin-bottom: 2px;
    margin-top: 4px;
    font-size: 1.1em;
    border-bottom: 1px solid #ccbaba;
}

div.list.cardView div>a.resultTitle {
    line-height: 24px;
}

div.list.cardView div a,
div.list.cardView span.vote_avg {
    font-size: 1.1em;
    line-height: 24px;
}

.vote_avg {
    float: right;
    color: #000;
}

div.list span.vote_avg {
    padding-top: 0;
    margin-right: 0;
    display: inline-flex;
    align-items: center;
}

div.resultInfo div a.resultTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    padding-right: 20px;
}

div.resultInfo div a.resultTitle:hover {
    text-decoration: none;
}

div.resultInfo span.rating {
    top: 0;
    padding-left: 4px;
    color: #000;
    line-height: 0;
}

div.resultInfo span.glyphicons {
    display: inline-flex;
    align-items: center;
}

.result_desc {
    font-family: 'Josefin Slab', serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    color: #584c4c;
    word-wrap: break-word;
    white-space: normal;
    font-size: 1.1em;
    line-height: 1.2em;
    margin-top: 30px;
    margin-bottom: 16px;
}

div.resultInfo div {
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0;
    margin-bottom: 16px;
    width: 100%;
    line-height: 1.2em;
}

div.resultInfo div.dateInfo {
    height: 25px;
    clear: both;
    font-size: 1.1 rem;
    border-bottom: 1px solid #ccbaba;
    padding: 3% 0;
}

div.list.cardView div.moreInfoWrapper {
    font-family: 'Josefin Slab', serif;
    font-weight: 400;
    border-top: 1px solid #ccbaba;
    color: rgba(31, 3, 3, 0.91);
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 16px;
}

div.list div:last-of-type {
    margin-bottom: 0;
}

.flexWrapper {
    display: flex;
    flex-wrap: wrap;
}

div.list.cardView div.view_more a {
    font-size: 0.9em;
    font-weight: 400;
}

.main-section {
    background-color: transparent;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}

.section-wrapper .poster-wrapper {
    height: 300px;
    overflow: hidden;
}

.section-wrapper .poster {
    float: left;
    display: inline-block;
    height: 300px;
    width: 30%;
}

.section-wrapper .watchSection {
    float: right;
    position: relative;
    display: inline-block;
    width: 70%;
    height: 300px;
}

div.watchSection {
    line-height: 18px;
}

.videoLoader {
    height: 100%;
    width: 100%;
}

.section-wrapper .section_desc {
    padding: 20px 0;
    background: #fff;
}

.section-wrapper .section_desc:after {
    clear: both;
}

.section-wrapper .titleBar {
    position: relative;
    padding: 0 20px;
    display: inline-flex;
    width: 100%;
}

.section-titleWrapper {
    min-height: 60px;
    width: 80%;
}

.section-wrapper .titleYear {
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    line-height: 100%;
}

.section-wrapper .section-info {
    font-size: 14px;
}

.section-wrapper .ratings_Wrapper {
    float: right;
    position: relative;
    margin-left: 5px;
    width: 20%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-wrapper .userRatings {
    font-size: 11px;
    height: 40px;
    line-height: 13px;
    padding: 2px 0 0 34px;
    width: 58px;
}

.section-wrapper .ratings_Wrapper .ratingValue {
    margin-bottom: -2px;
    white-space: nowrap;
}

.section-wrapper .rating-widget {
    height: 42px;
    position: absolute;
    right: 0;
    top: 0;
    width: 92px;
}

.section-wrapper .rating-button {
    height: 42px;
    width: 91px;
}

.section-wrapper .rating-button button {
    border: 2px solid #ffffff;
    box-sizing: border-box;
    background: rgba(0, 0, 0, .15);
    border-radius: 50%;
    width: 46px;
    height: 46px;
    color: #ffffff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.section-wrapper .avgVote {
    font-size: 1.5rem;
}

.section-wrapper .countVote {
    width: 100%;
    white-space: nowrap;
    margin-top: 20%;
    font-size: 1.5rem;
}

.section-wrapper .summaryWrapper {
    padding: 18px 20px;
    width: 100%;
    display: block;
    position: relative;
}

div.ShowInfoWraper div.section-wrapper .summaryWrapper {
    width: 70%;
    display: inline-block;
    height: 250px;
    overflow: auto;
}

div.ShowInfoWraper div.section-wrapper div.poster-wrapper div.summaryWrapper {
    height: 400px;
    overflow: visible;
}

.section-wrapper .summary_info {
    width: 100%;
}

.section-wrapper .summary_info .featured_info {
    margin-top: 30px;
}

.featured_info {
    font-family: 'Josefin Slab', serif;
    font-weight: 600;
}

.summary {
    width: 100%;
}

div.ShowInfoWraper div.section-wrapper div.poster-wrapper .summaryWrapper .summary {
    height: 40%;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.ShowInfoWraper div.section-wrapper div.poster-wrapper div.summaryWrapper .featured_people {
    height: 30%;
}

.movieStopWrapper {
    position: relative;
}

.bgDisplay {
    width: 100%;
    height: 100%;
}

.featured_people {
    margin-top: 0;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
    display: flex;
}

.featured_people li {
    background-color: transparent;
    height: auto;
    margin-bottom: 0;
    width: 33%;
    text-align: left;
    margin-right: 0;
    box-sizing: border-box;
    padding-right: 20px;
    padding-bottom: 20px;
}

ol.featured_people li p {
    font-size: 1em;
    line-height: 1.4em;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.profile_job {
    font-size: 0.9rem;
}

.ms-row {
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    flex-wrap: wrap;
}

.optionsNav {
    background: white;
    height: 7%;
    position: relative;
    display: block;
    border-bottom: 1px solid grey;
}

.menuNavSection {
    padding: 0 30px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.CastsNav,
.ReviewsNav,
.VideosNav,
.RecommendedNav,
.BoxOfficeNav,
.CreditsNav,
.DetailsNav,
.SeasonReviewsNav,
.PersonalDetailsNav,
.ImagesNav,
.KnownForNav,
.TaggedImagesNav,
.FilmoGraphyNav {
    height: 100%;
    padding: 10px 0;
    display: inline-flex;
    font-family: 'Playfair Display', serif;
    color: grey;
    cursor: pointer;
    margin-right: 15px;
    margin-bottom: 0;
}

.CastsNav.active,
.ReviewsNav.active,
.VideosNav.active,
.RecommendedNav.active,
.BoxOfficeNav.active,
.CreditsNav.active,
.DetailsNav.active,
.SeasonReviewsNav.active,
.PersonalDetailsNav.active,
.ImagesNav.active,
.KnownForNav.active,
.TaggedImagesNav.active,
.FilmoGraphyNav.active {
    border-bottom: 3px solid #104010;
    color: black;
}

section.panel {
    box-sizing: border-box;
    width: 100%;
    display: block;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid #d7d7d7;
}

p.full_view_button {
    margin: 20px 0 0 0;
    display: inline-block;
    width: 100%;
}

ol.featured_people li.profileView {
    height: 300px;
    margin: 0 25px 20px 0;
    width: 20%;
}

ol.featured_people li>a>img {
    height: 80%;
}

ol.featured_people li div.castInfoWrapper {
    height: 20%;
    bottom: 0;
    position: absolute;
    text-overflow: ellipsis;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #fbfafa;
}

section.panel ol.featured_people li p:first-of-type {
    padding: 10px 10px 0 10px;
}

.ReviewWrapper {
    padding-left: 10%;
    width: 100%;
    box-sizing: border-box;
    color: #565252;
}

.ReviewWrapper::before {
    clear: both;
    content: '';
    display: block;
}

.creditsTag {
    padding-top: 10px;
    padding-left: 10%;
    color: #565252;
}

section.ReviewSection div.cardView {
    padding: 20px;
}

p.full_view_button a {
    font-size: 2rem;
    color: #000;
    font-family: 'Josefin Slab', serif;
    font-weight: 600;
}

p.full_view_button a:hover {
    text-decoration: none;
}

section.VideosSection>div.section-content {
    height: 300px;
    width: 100%;
    overflow: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    box-sizing: border-box;
    font-size: 0;
}

section.VideosSection>div.section-content div.watchSection {
    width: 70%;
    height: 300px;
}

section.VideosSection>div.section-content div.section-inner-content {
    display: inline-block;
    width: 100%;
}

section.VideosSection>div.section-content div {
    display: inline-block;
}

section.RecommendedSection>div.scollable,
section.ProfileSection>div.scollable,
section.TaggedImagesSection>div.scollable {
    width: 100%;
    overflow: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    box-sizing: border-box;
    font-size: 0;
    padding-bottom: 20px;
}

section.RecommendedSection div.scollable div.list,
section.ProfileSection div.scollable div.list,
section.TaggedImagesSection div.scollable div.list {
    display: inline-block;
    float: none;
}

section.RecommendedSection div.scollable div.miniPhoto,
section.ProfileSection div.scollable div.miniPhoto,
section.TaggedImagesSection div.scollable div.miniPhoto {
    width: 30%;
    margin: 0 15px 0 0;
    height: 250px;
    position: relative;
}

div.list.miniPhoto div.imageWrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

section.RecommendedSection>div.scollable div.infoInnerWrapper,
section.TaggedImagesSection>div.scollable div.infoInnerWrapper {
    flex-direction: row;
    flex-wrap: wrap;
}

.recoNameWrapper {
    margin: 1%;
    font-size: 1.3rem;
    flex: 0 0 50%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.reco_vote_avg {
    align-items: center;
    line-height: 24px;
    flex: 0 0 40%;
    text-align: right;
    font-size: 1.3rem;
}

.recoReleaseInfo {
    font-size: 1.3rem;
    flex: 0 0 50%;
}

section.DetailsSection div.cardView div.detailsInfoWrapper span.movieLang {
    margin: 0 5%;
}

.detailsInfoWrapper {
    margin: 3% 0 3% 10%;
}

.detailsInfoWrapper a:hover {
    text-decoration: none;
}

..section-wrapper .posterAndPlotWrapper {
    height: 300px;
    overflow: hidden;
}

.ReviewWrapper .poster {
    float: left;
    display: inline-block;
    height: 250px;
    width: 30%;
    padding-right: 2%;
}

section.SeasonReviewSection div.cardView {
    height: 100%;
    display: inline-block;
    width: 94%;
}

section.SeasonReviewSection div.summaryWrapper div.summary_info div.airWrapper {
    padding-bottom: 2%;
}

section.SeasonReviewSection div.cardView div.summary_info .featured_info {
    margin-top: 0;
}

div.ShowInfoWraper div.section-wrapper div.poster-wrapper div.summaryWrapper .summary_info {
    display: flex;
    flex-direction: column;
}

div.ShowInfoWraper div.section-wrapper div.poster-wrapper {
    height: 400px;
}

div.ShowInfoWraper div.section-wrapper div.poster-wrapper>div.poster {
    height: 400px;
}

div.ShowInfoWraper section.VideosSection div.watchSection {
    float: none;
}

.alignContentleft {
    float: left !important;
}

.dialogdemoBasicUsage #popupContainer {
    position: relative;
}

.dialogdemoBasicUsage .footer {
    width: 100%;
    text-align: center;
    margin-left: 20px;
}

.dialogdemoBasicUsage .footer,
.dialogdemoBasicUsage .footer>code {
    font-size: 0.8em;
    margin-top: 50px;
}

.dialogdemoBasicUsage button {
    width: 200px;
}

.dialogdemoBasicUsage div#status {
    color: #c60008;
}

.dialogdemoBasicUsage .dialog-demo-prerendered md-checkbox {
    margin-bottom: 0;
}

.rounded {
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 8px 16px;
    transition: linear .1s;
}

section.FilmographySection span.mediaTypeButtons {
    font-size: 0.9em;
    line-height: 1em;
    margin-bottom: 5%;
}

section.FilmographySection div.setMarginTop {
    margin-top: 5%;
}

section.FilmographySection span.mediaTypeButtons label.mediaType {
    background: linear-gradient(#dcdcdc, #eeeeee);
    background: -webkit-linear-gradient(#dcdcdc, #eeeeee);
    background: -o-linear-gradient(#dcdcdc, #eeeeee);
    background: -moz-linear-gradient(#dcdcdc, #eeeeee);
    font-weight: 400;
    border-color: #ccc;
    font-size: 0.7em;
    padding: 8px 12px;
    margin-top: 0;
    background-color: #ccc;
    border-width: 1px;
    color: #000;
    display: inline-block;
    line-height: 1.2em;
}

section.FilmographySection span.mediaTypeButtons label.left_side {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

section.FilmographySection span.mediaTypeButtons label.right_side {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left-width: 0;
}

.even {
    border-top: 2px solid #f1e4e4;
    background-color: #ece6e6;
}

section.FilmographySection div.cardView div.jobWrapper {
    text-decoration: none;
    color: #000;
    font-size: 1.8rem;
}

.colSplit {
    width: 50%;
}

.crew_teamWrapper {
    min-height: calc(100vh - 980px);
    width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    padding-top: 40px;
    padding-bottom: 40px;
}

ol.creditWrapper {
    width: 100%;
    list-style-type: none;
    list-style-position: outside;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.castProfileWrapper {
    width: 60px;
    height: 60px;
    border-radius: 4px;
    will-change: opacity;
    transition: opacity 200ms;
}

ol.creditWrapper li:first-child {
    margin-top: 0;
}

ol.creditWrapper li {
    width: 100%;
    flex: 0 0 auto;
    text-align: left;
    margin-right: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

ol.creditWrapper li>div {
    display: flex;
    align-items: center;
    align-content: center;
    min-height: 70px;
    text-align: left;
}

ol.creditWrapper li div.castInfo {
    display: flex;
    align-items: center;
    padding-left: 14px;
    padding-right: 20px;
    width: 100%;
}

ol.creditWrapper li div.castInfo p {
    white-space: normal;
    overflow: visible;
    text-overflow: clip;
    box-sizing: border-box;
    font-size: 1em;
    line-height: 1.4em;
    margin: 0;
    padding: 0;
}

ol.creditWrapper li div.castInfo p a {
    color: #000;
    text-decoration: none;
    font-size: 1.8rem;
    font-family: 'Lato', sans-serif;
}

.shortView {
    height: 200px !important;
}

.setAllMargin {
    margin: 3%;
}

div.cardView div.reviewInfoWrapper {
    margin-top: 2%;
}

.setLeftMargin {
    margin-left: 2%;
}

.setRightPadding {
    padding-right: 2%;
}